input {
  file {
    path => "C:\Users\Sotiris\Desktop\elastic\USvideos.csv"
    start_position => "beginning"
  }
}

filter {
  csv {
    separator => ","
    columns => ["video_id", "trending_date", "title", "channel_title", "category_id", "publish_time", "tags", "views", "likes", "dislikes",
     "comment_count", "thumbnail_link", "comments_disabled", "ratings_disabled", "video_error_or_removed", "description"]
  }

  mutate { convert => ["category_id", "integer"]}
  mutate { convert => ["vies", "integer"]}
  mutate { convert => ["likes", "integer"]}
  mutate { convert => ["dislikes", "integer"]}
  mutate { convert => ["comments_disabled", "boolean"]}
  mutate { convert => ["ratings_disabled", "boolean"]}
  mutate { convert => ["video_error_or_removed", "boolean"]}
}

output {
  elasticsearch {
    hosts => "localhost"
    index => "videos"
    document_type => "trending_videos"
  }
  stdout {}
}